.container{
	width: 100%;
	margin: 0 auto; 
	padding: 0;
}
.ui-content{
	padding:0px;
}
	.nav_bar{
		width:100%;
		height:50px;
		background:url(../images/nav_bar_repeat.png) repeat-x;                
        box-shadow:  0px 10px 10px 3px rgba(0, 0, 0, 0.2);
        text-align: center;
	}
		.nav_bar_title{
			color:#FFF;
			font-size:16px;
			font-weight:bold;
			text-shadow: 1px 1px #000;
			padding-top:13px;
		}

	.home_button_layout{
		float:left;
		max-width:960px;
		min-width:320px;
		margin-left:15px;
	}
		.button{
			float:left;
			width:100px;
			height:65px;
			border:none;
			padding:0px;
			margin:20px 25px 20px 20px;
			text-decoration: none;
			text-align:center;
		}
			.button_text{
				color:#000;
				font-size:14px;
				font-weight:bold;
				font-family:Arial;
				
			}

	.home_button{
		position: absolute;
		background:url(../images/home_button.png);
		text-decoration: none;
		width:28px;
		height:25px;
		margin-left:10px;
		margin-top:10px;
	}
	.green_button {
		background: url(../images/green_btn.png) no-repeat;
		box-shadow: 2px 2px 4px #AAA;
		color: white;
		font-size: 16px;
		font-family: Arial;
		text-align: left;
		padding: 0 0 0 15px;
		text-shadow: 1px 1px 1px #333;
	}
	.form_container{
		float:left;
		width:290px;
	}
		.facebook_button{
			background:url(../images/facebook_button.png);
			width:129px;
			height:32px;
			text-decoration: none;
			border:none;
			float:left;
			display: block;
			color: #FFF;
			font-size: 13px;
			font-family: arial;
			text-align: left;
			padding: 13px 0 0 26px;
			text-shadow: 1px 1px 1px #333;
		}
		.register_button{
			background: url(../images/green_btn.png) no-repeat;
			box-shadow: 2px 2px 4px #AAA;
			color: white;
			font-size: 16px;
			font-family: arial;
			text-align: left;
			padding: 10px 0px  0 15px;
			text-shadow: 1px 1px 1px #333;
			height:34px;
			width:113px;
			border:none;
			display:block;
			text-decoration: none;
		}
		.login_title{
			margin-bottom:10px;
		}

		.login_form{
			max-width:98%;
			min-width:290px;
			height:185px;
			background:white;
			box-shadow: 2px 2px 4px #AAA;
			padding:20px;
			margin-bottom:10px;
		}
			.register{
				height:240px;
			}

			.login_form .login_btn {
				float: right;
				cursor: pointer;
				width: 128px;
				height: 44px;
				border: 0px;
				font-size: 18px;
			}
			.login_form .reg_btn {
				float: right;
				cursor: pointer;
				width: 128px;
				height: 45px;
				border: 0px;
			}

.routes{
	float:left;
	min-width:320px;
	width:100%;
	padding:0px;
	border:1px solid #858585;
}
	.route{
		border-bottom:1px solid #858585;
		padding:10px 20px 10px 10px;
		box-shadow:inset 0 0 10px #bebebe;
		height:50px;
		display:block;
		background:url(../images/arrow_route.png) 99% no-repeat;
	}
		.route .thumb{
			float:left;
			width:52px;
			height:52px;
			margin-right:10px;
		}

		.route .last{border:none;}
		.route_title{
			float:left;
			color:#338bca;
			font-size:14px;
			text-decoration: none;
			margin-right:10px;
		}
		.route_extra{
			float:left;
			color:#4e4e4e;
			font-size:12px;
		}
.breadcrumb{
	margin-top:20px;
	margin-bottom:10px;
	margin-left:10px;
}
.location_box{
	background:url(../images/location.png) 99% no-repeat #338bca;
	min-width:300px;
	height:15px;
	padding:10px;
	color:#FFF;
	font-size:14px;
	display:block;
	text-decoration: none;
	font-weight:normal;
	text-shadow:none;
}
.filter{
	float:left;
	margin-top:10px;
	padding:10px;
	width:96%;
}
.about{
	margin-top:20px;
	padding:10px;
}
#results{
	margin-top:10px;
}


#near_route_copy {
	display: none;
}

.route .thumb img {
	width: 52px;
	height: 52px;
}